#nav {
  float: center;
  width: 100%;
  margin: 1em;
  -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
}

#navList{
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  /* background: #000; */
}

#navList > li {
  padding-left: 1vw;
  font-size: 4vw;
}

