#nav {
  float: center;
  width: 98.3vw;
  height: 10vh;
  position: relative;
  margin: 1em;
  -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
}

#navList{
  padding-top: 2vh;
  list-style: none;
  display: flex;
  /* background: #000; */
}

#navList > li {
  padding-left: 2em;
  font-size: 3em;
}

